.centered-image-container {
    flex: 1;
}

.centered-image {
    height: 300px;
    max-width: 100%;
    object-fit: contain;
}

.title {
    flex: 1;
    font-size: 70px;
    text-align: right;
    margin-right: 3%;
}

.header-container {
    display: flex;
    align-items: center;
    background-color: rgb(9, 9, 29);
    color: white;
}